
@{
    ViewBag.Title = "SearchExpression";
}

<CENTER>
    <button ="image" typeof="submit" value="ボタン"><img src="~/Image/ruto1.png"></img></button>
    &nbsp;
    <button ="image" typeof="submit" value="ボタン"><img src="~/Image/ruto2.png"></img></button>
    &nbsp;
    <button ="image" typeof="submit" value="ボタン"><img src="~/Image/ruto3.png"></img></button>
    <br><br>
    <table>
        <tr>
            <td><img src="~/Image/shuppatsuzikoku.png"></img></td>
            <td><span class="mozi">@("" + (string)Session["anszikoku"])</span></td>
        </tr>
        <tr>
            <td><img src="~/Image/shuppatsu.png"></img></td>
            <td><span class="mozi">@("" + (string)Session["ansbasuteimei"])</span></td>
        </tr>
        <tr>
            <td class="basu"><img src="~/Image/basu.png" width="70px"></img></td>
            <td><span class="rosenmozi">@("" + (string)Session["ansrosenmei"])</span></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="button" value="ボタン" onClick="location.href = '/Home/Route?kigyou=@Session["kigyou"]&rosenmei=@Session["ansrosenmei"]';"><img src="~/Image/ruto.png"></img></button></td>
        </tr>
        <tr>
            <td><img src="~/Image/touchakuzikoku.png"></img></td>
            <td><span class="mozi">@("" + (string)Session["ansgzikoku"])</span></td>
        </tr>
        <tr>
            <td><img src="~/Image/touchaku.png"></img></td>
            <td><span class="mozi">@("" + (string)Session["ansgbasuteimei"])</span></td>
        </tr>
    </table>
</CENTER>

