
@{
    ViewBag.Title = "SearchExpression";
}

<script>
//更新
function koshin(){
  location.reload();
}
</script>



<CENTER>
    <div style="overflow: hidden;width: 250px;margin:0px auto;">
    @ViewBag.messege
        <div style="float: left;">
    @using (Html.BeginRouteForm(
                                       "Default", // ルート名
                                       new
                                       {
                                           action = "SearchExpression",       // アクション名
                                           controller = "SearchExpression",   // コントローラ名
                                       }, // ルート・パラメータ
                                       FormMethod.Post, // HTTPメソッド（method属性）
                                       new { enctype = "multipart/form-data"}
                                     ))
    {
        <button ="image" typeof="submit" name="route" value="0"><img src="~/Image/ruto1.png"></img></button>
    }
    </div>
        <div style="float: left;">
            @using (Html.BeginRouteForm(
                                           "Default", // ルート名
                                           new
                                           {
                                               action = "SearchExpression",       // アクション名
                                               controller = "SearchExpression",   // コントローラ名
                                           }, // ルート・パラメータ
                                           FormMethod.Post, // HTTPメソッド（method属性）
                                           new { enctype = "multipart/form-data" } // そのほかの属性
                                         ))
            {
                <button ="image" typeof="submit" name="route" value="1"><img src="~/Image/ruto2.png"></img></button>
            }

            </div>
        <div style="float: left;">
            @using (Html.BeginRouteForm(
                                           "Default", // ルート名
                                           new
                                           {
                                               action = "SearchExpression",       // アクション名
                                               controller = "SearchExpression",   // コントローラ名
                                           }, // ルート・パラメータ
                                           FormMethod.Post, // HTTPメソッド（method属性）
                                           new { enctype = "multipart/form-data" } // そのほかの属性
                                         ))
            {
                <button ="image" typeof="submit" name="route" value="2"><img src="~/Image/ruto3.png"></img></button>
            }
            </div>
        </div>
    <!--
    <button ="image" typeof="submit" value="ボタン" onclick="susumu()"><img src="~/Image/ruto1.png"></img></button>
    &nbsp;
    <button ="image" typeof="submit" value="ボタン" onclick="susumu()"><img src="~/Image/ruto2.png"></img></button>
    &nbsp;
    <button ="image" typeof="submit" value="ボタン" onclick="susumu()"><img src="~/Image/ruto3.png"></img></button>
        -->

    <table>
        <tr>
            <td><img src="~/Image/shuppatsuzikoku.png"></img></td>
            <td><span class="mozi">@("" + (string)Session["anszikoku"])</span></td>
        </tr>
        <tr>
            <td><img src="~/Image/shuppatsu.png"></img></td>
            <td><span class="mozi">@("" + (string)Session["ansbasuteimei"]) @("" + (string)Session["hachakuKubun"])</span></td>
        </tr>
        <tr>
            <td class="basu"><img src="~/Image/basu.png" width="70px"></img></td>
            <td><span class="rosenmozi">@("" + (string)Session["ansrosenmei"])</span></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="button" value="ボタン" onClick="location.href = '/Home/Route?flag=@Session["f"]&kigyou=@Session["kigyou"]&rosenmei1=@Session["ansrosenmei"]&ikisaki1=@Session["ansikisaki"]&hidukebunrui1=@Session["anshidukebunrui"]&shuppatu1=@Session["ansbasuteimei"]&shuppatuji1=@Session["anszikoku_"]&toutyaku1=@Session["ansnbasuteimei"]&toutyakuji1=@Session["ansnzikoku_"]&rosenmei2=@Session["ansnnrosenmei"]&ikisaki2=@Session["ansnnikisaki"]&hidukebunrui2=@Session["ansnnhidukebunrui"]&shuppatu2=@Session["ansnnbasuteimei"]&shuppatuji2=@Session["ansnnzikoku_"]&toutyaku2=@Session["ansgbasuteimei"]&toutyakuji2=@Session["ansgzikoku_"]';"><img src="~/Image/ruto.png"></img></button></td>
        </tr>
        @*<tr>
            <td><p>乗り換え回数</p></td>
            <td><span class="mozi">@(Session["f"])</span></td>
        </tr>
        <tr>
            <td><p>乗り換え時刻</p></td>
            <td><span class="mozi">@("" + (string)Session["ansnnzikoku"])</span></td>
        </tr>
        <tr>
            <td><p>乗り換えバス停名</p></td>
            <td><span class="mozi">@("" + (string)Session["ansnnbasuteimei"])</span></td>
        </tr>*@
        <tr>
            <td><img src="~/Image/touchakuzikoku.png"></img></td>
            <td><span class="mozi">@("" + (string)Session["ansgzikoku"])</span></td>
        </tr>
        <tr>
            <td><img src="~/Image/touchaku.png"></img></td>
            <td><span class="mozi">@("" + (string)Session["ansgbasuteimei"])</span></td>
        </tr>
    </table>
</CENTER>
