
@{
    ViewBag.Title = "SearchExpression";
}

<script>
//更新
function koshin(){
  location.reload();
}
</script>



<CENTER>
    @ViewBag.messege
    @using (Html.BeginRouteForm(
                                       "Default", // ルート名
                                       new
                                       {
                                           action = "SearchExpression",       // アクション名
                                           controller = "SearchExpression",   // コントローラ名
                                       }, // ルート・パラメータ
                                       FormMethod.Post, // HTTPメソッド（method属性）
                                       new { enctype = "multipart/form-data" } // そのほかの属性
                                     ))
    {
        <button ="image" typeof="submit" name="route" value="0"><img src="~/Image/ruto1.png"></img></button>
    }

    <br>

    @using (Html.BeginRouteForm(
                                           "Default", // ルート名
                                           new
                                           {
                                               action = "SearchExpression",       // アクション名
                                               controller = "SearchExpression",   // コントローラ名
                                           }, // ルート・パラメータ
                                           FormMethod.Post, // HTTPメソッド（method属性）
                                           new { enctype = "multipart/form-data" } // そのほかの属性
                                         ))
    {
        <button ="image" typeof="submit" name="route" value="1"><img src="~/Image/ruto2.png"></img></button>
    }

    <br>

    @using (Html.BeginRouteForm(
                                           "Default", // ルート名
                                           new
                                           {
                                               action = "SearchExpression",       // アクション名
                                               controller = "SearchExpression",   // コントローラ名
                                           }, // ルート・パラメータ
                                           FormMethod.Post, // HTTPメソッド（method属性）
                                           new { enctype = "multipart/form-data" } // そのほかの属性
                                         ))
    {
        <button ="image" typeof="submit" name="route" value="2"><img src="~/Image/ruto3.png"></img></button>
    }
    <!--
    <button ="image" typeof="submit" value="ボタン" onclick="susumu()"><img src="~/Image/ruto1.png"></img></button>
    &nbsp;
    <button ="image" typeof="submit" value="ボタン" onclick="susumu()"><img src="~/Image/ruto2.png"></img></button>
    &nbsp;
    <button ="image" typeof="submit" value="ボタン" onclick="susumu()"><img src="~/Image/ruto3.png"></img></button>
        -->
    <table>
        <tr>
            <td><img src="~/Image/shuppatsuzikoku.png"></img></td>
            <td><span class="mozi">@("" + (string)Session["anszikoku"])</span></td>
        </tr>
        <tr>
            <td><img src="~/Image/shuppatsu.png"></img></td>
            <td><span class="mozi">@("" + (string)Session["ansbasuteimei"]) @("" + (string)Session["hachakuKubun"])</span></td>
        </tr>
        <tr>
            <td class="basu"><img src="~/Image/basu.png" width="70px"></img></td>
            <td><span class="rosenmozi">@("" + (string)Session["ansrosenmei"])</span></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="button" value="ボタン" onClick="location.href = '/Home/Route?flag=0&kigyou=@Session["kigyou"]&rosenmei1=@Session["ansrosenmei"]&ikisaki1=@Session["ansikisaki"]&hidukebunrui1=@Session["anshidukebunrui"]&shuppatu1=@Session["ansbasuteimei"]&shuppatuji1=@Session["anszikoku_"]&toutyaku1=@Session["ansgbasuteimei"]&toutyakuji1=@Session["ansgzikoku_"]';"><img src="~/Image/ruto.png"></img></button></td>
        </tr>
        <tr>
            <td><img src="~/Image/touchakuzikoku.png"></img></td>
            <td><span class="mozi">@("" + (string)Session["ansgzikoku"])</span></td>
        </tr>
        <tr>
            <td><img src="~/Image/touchaku.png"></img></td>
            <td><span class="mozi">@("" + (string)Session["ansgbasuteimei"])</span></td>
        </tr>
    </table>
</CENTER>
