@model IEnumerable<Basumaru.Models.Jikokuhyou>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kigyou)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rosenmei)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ikisaki)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hidukebunrui)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.basuteimei)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zikoku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hachakuKubun)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kigyou)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rosenmei)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ikisaki)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hidukebunrui)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.basuteimei)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zikoku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hachakuKubun)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JikokuhyouId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JikokuhyouId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JikokuhyouId })
        </td>
    </tr>
}

</table>
