<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - ばす丸</title>*@
    <title>ばす丸</title>
    @*<link rel="shortcut icon" href="/Image/icon.png">*@
    @*@Styles.Render("~/Content/css")*@
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
    @*@Scripts.Render("~/bundles/modernizr")*@
    <script src="/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div style="margin-left:2px">
            @*<a class="navbar-brand" href="http://busmaru.com/"><img src="~/Image/rogo.png"></img>*@
            <a class="navbar-brand" href="/Home/Index?flag=2"><img src="~/Image/rogo.png"></img>
</div></a>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - マイ ASP.NET アプリケーション</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
